fastapi  
uvicorn  
python-multipart  
google-auth  
google-auth-oauthlib  
google-auth-httplib2  
google-api-python-client  
astropy  
regions  
reproject  
spectral-cube  
matplotlib  
PyQt6  
PyQt6-WebEngine  
Pillow  
scikit-image  
numpy  
